doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='theme-name' content='#009E60')
        title= title
        link(rel='stylesheet' type='text/css' href='../../css/style.css')
        script(src='../../js/style.css')
        meta(name='viewport' content='initial-scale=1.0,width=device-width')
    body
        block content
